.quote {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 120px 120px 60px 120px;
}

@media screen and (max-width: 1300px) {
  .quote {
    padding: 120px 60px 60px 60px;
  }
}

@media screen and (max-width: 1200px) {
  .quote {
    padding: 60px 60px 60px 60px;
  }
}

@media screen and (max-width: 900px) {
  .quote {
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .quote {
    padding: 0 18px 80px 18px;
  }
}
