.section-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.09;
  letter-spacing: -0.5px;
}


@media screen and (max-width: 425px) {
  .section-title {
    font-size: 32px;
    line-height: 1.25;
  }
}
