.bicycles__header {
  margin-bottom: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


@media screen and (max-width: 1200px) {
  .bicycles__header {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .bicycles__header {
    margin-bottom: 40px;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 760px) {
  .bicycles__header {
    margin-bottom: 20px;
    padding-top: 40px;
  }
}
