.bicycles {
  width: 100%;
  max-width: 1440px;
  padding: 64px 120px 60px 120px;
  box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
  .bicycles {
    padding: 60px;
  }
}

@media screen and (max-width: 900px) {
  .bicycles {
    padding: 0 60px 60px;
  }
}

@media screen and (max-width: 760px) {
  .bicycles {
    padding: 0 18px 78px;
  }
}
