.bicycles {
  width: 100%;
  max-width: 1440px;
  padding: 60px 120px;
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .bicycles {
    max-width: 512px;
    padding: 0 18px 80px;
  }
}
