.track {
  width: 100%;
  max-width: 1440px;
  padding: 62px 0 60px 120px;
  box-sizing: border-box;
}


@media screen and (max-width: 1300px) {
  .track {
    padding: 60px 0 60px 60px;
  }
}

@media screen and (max-width: 900px) {
  .track {
    padding: 40px 60px 60px;
  }
}

@media screen and (max-width: 760px) {
  .track {
    padding: 40px 18px 80px;
  }
}
