.quote__image {
  display: block;
  margin: 0 80px 0 0;
  padding: 0;
  width: 650px;
}

@media screen and (max-width: 1300px) {
  .quote__image {
    width: 450px;
    margin: 0 40px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .quote__image {
    width: 100%;
    margin: 0;
  }
}
