.header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 856px;
  padding: 0 0 0 120px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 0 0 60px;
    background-size: 300px;
    min-height: 770px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 520px;
  }
}

@media screen and (max-width: 760px) {
  .header {
    min-height: auto;
    padding: 0 18px 80px 18px;
  }
}
