.header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 856px;
  padding: 0 0 0 120px;
  background: url('../../images/header/Placeholder.jpg') no-repeat;
  background-size: 610px;
  background-position: right 20px;
}
