.quote__text {
  max-width: 470px;
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1300px) {
  .quote__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .quote__text {
    margin: 40px 0 0 0;
  }
}

@media screen and (max-width: 760px) {
  .quote__text {
    font-size: 23px;
    line-height: 29px;
  }
}
