.track__container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) 1fr;
  grid-template-areas:
    "title      .   "
    "subtitle   .   "
    "item      item "
    "controls    .  ";
  row-gap: 50px;
}


@media screen and (max-width: 900px) {
  .track__container {
    grid-template-areas:
      "title   controls"
      "item      item  "
      "subtitle subtitle";
    row-gap: 40px;
  }
}
