.footer__title {
  max-width: 229px;
  margin: 0 0 50px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}


@media screen and (max-width: 760px) {
  .footer__title {
    margin: 0 0 40px;
  }
}
