.track__control-container {
  grid-area: controls;

  display: flex;
  gap: 20px;
}


@media screen and (max-width: 900px) {
  .track__control-container {
    justify-self: end;
    align-self: end;
  }
}

@media screen and (max-width: 700px) {
  .track__control-container {
    gap: 10px;
  }
}
