.track__control-container {
  grid-area: controls;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  gap: 20px;
}


@media screen and (max-width: 900px) {
  .track__control-container {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media screen and (max-width: 760px) {
  .track__control-container {
    padding-top: 40px;
  }
}

@media screen and (max-width: 425px) {
  .track__control-container {
    padding-top: 46px;
    gap: 10px;
  }
}
