.header__image-2 {
  width: 610px;
  height: 836px;
  object-fit: cover;
}

@media screen and (max-width: 1410px) {
  .header__image-2 {
    width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .header__image-2 {
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .header__image-2 {
    height: 750px;
  }
}

@media screen and (max-width: 900px) {
  .header__image-2 {
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width: 760px) {
  .header__image-2 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header__image-2 {
    height: 348px;
  }
}
