.header__wrapper-sticky {
  position: absolute;
  top: 327px;
  left: -200px;
  max-width: 440px;
  min-height: 430px;
}

@media screen and (max-width: 1200px) {
  .header__wrapper-sticky {
    top: 267px;
    left: -160px;
  }
}

@media screen and (max-width: 1000px) {
  .header__wrapper-sticky {
    left: -60px;
  }
}

@media screen and (max-width: 900px) {
  .header__wrapper-sticky {
    top: 35px;
  }
}

@media screen and (max-width: 600px) {
  .header__wrapper-sticky {
    min-height: 270px;
    left: -30px;
  }
}
