.header__wrapper-sticky {
  position: absolute;
  top: 347px;
  right: 370px;
  max-width: 440px;
  min-height: 430px;
}

@media screen and (max-width: 1410px) {
  .header__wrapper-sticky {
    right: 265px;
  }
}

@media screen and (max-width: 1300px) {
  .header__wrapper-sticky {
    right: 165px;
  }
}

@media screen and (max-width: 1200px) {
  .header__wrapper-sticky {
    top: 285px;
    right: 220px;
  }
}

@media screen and (max-width: 1000px) {
  .header__wrapper-sticky {
    right: 110px;
  }
}

@media screen and (max-width: 900px) {
  .header__wrapper-sticky {
    top: 55px;
    right: 10px;
  }
}

@media screen and (max-width: 760px) {
  .header__wrapper-sticky {
    top: 165px;
    right: 228px;
  }
}

@media screen and (max-width: 600px) {
  .header__wrapper-sticky {
    right: 175px;
    min-height: 260px;
  }
}

@media screen and (max-width: 450px) {
  .header__wrapper-sticky {
    right: 70px;
  }
}
