.bicycles__types-select {
  width: 114px;
  height: 30px;
  padding: 8px 5px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;

  box-sizing: border-box;

  display: none;

  color: #151515;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.27;
}


@media screen and (max-width: 495px) {
  .bicycles__types-select {
    display: block;
  }
}
