.header__subtitle {
  max-width: 460px;
  margin: 44px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .header__subtitle {
    margin: 30px 0 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .header__subtitle {
    max-width: 360px;
  }
}

@media screen and (max-width: 800px) {
  .header__subtitle {
    max-width: 320px;
  }
}

@media screen and (max-width: 760px) {
  .header__subtitle {
    margin: 40px 0 0 0;
    max-width: 100%;
  }
}
