.training__image {
  width: 100%;
  max-width: 580px;
  grid-column: 2 / -1;
  grid-row: 1 / -1;

  aspect-ratio: 284 / 225;

  -ms-grid-column-align: end;

      justify-self: end;
}


@media screen and (max-width: 900px) {
  .training__image {
    max-width: none;
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (max-width: 760px) {
  .training__image {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}
