.header__image-container-2 {
  position: absolute;
  right: 0;
  top: 20px;
}

@media screen and (max-width: 760px) {
  .header__image-container-2 {
    position: relative;
    width: 500px;
    align-self: flex-end;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .header__image-container-2 {
    width: 350px;
    height: 348px;
  }
}

@media screen and (max-width: 450px) {
  .header__image-container-2 {
    width: 254px;
  }
}
