.training {
  width: 100%;
  max-width: 1440px;
  padding: 150px 120px 120px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 1fr auto;
  column-gap: 40px;
}

@media screen and (max-width: 1195px) {
  .training {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .training {
    padding-top: 100px;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .training {
    max-width: 512px;
    padding: 40px 18px 60px;
  }

  .training::before {
    content: '';
    height: 1px;
    width: 100%;
    padding: 0 16px;
    display: block;

    background-color: #707070;

    box-sizing: border-box;
  }
}
