.footer__content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px 120px 60px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}


@media screen and (max-width: 1300px) {
  .footer__content {
    padding: 80px 60px 60px;
  }
}

@media screen and (max-width: 760px) {
  .footer__content {
    margin: 0;
    padding: 60px 18px 25px;
  }
}
