.footer__content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px 120px 60px;

  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .footer__content {
    width: 100%;
    max-width: 512px;
    margin: 0;
    padding: 60px 18px 25px;
  }
}
